.filter__container {
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.sort__container {
  justify-content: flex-end;
  margin-bottom: 24px;
}

.card__container {
  justify-content: flex-start;
}

.filter__select_rating {
  width: 140px;
}

.filter__select {
  & input[data-expanded] + div {
    transform: rotate(180deg);

    & svg {
      path {
        stroke: #9854f6;
      }
    }
  }
}

.wrapper {
  width: 260px;
}
