.card {
  flex-direction: row !important;
  gap: 16px;

  width: 30.13rem;
  height: 13.63rem;
  padding: 1.5rem;
}

.image {
  height: 100%;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-purple-500);
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
