.main {
  font-family: var(--font-family-main), sans-serif;
  font-size: 10rem;
}

.title {
  font-family: var(--font-family-title), sans-serif;
  font-size: 10rem;
  color: var(--color-purple-500);
}

.def {
  font-size: 10rem;
}
